.navbar {
    display: grid;
    grid: none / auto-flow;
    place-content: center;
    place-items: center;
    gap: 1rem;
  }
  
  .navlink {
    font-size: 1.1rem;
    border-bottom: 0.2rem solid transparent;
    cursor: pointer;
  }
  
  .navlink:visited, .navlink:link {
    color: inherit;
    text-decoration: none;
  }